.wula-dashboard {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
  background-color: #000;
  z-index: 100;
}

.wula-dashboard-right {
  width: auto;
  position: absolute;
  top: 0;
  left: 50px;
  bottom: 0;
  right: 0;
  //overflow: hidden;
  background: #FFF;

  @at-root .app-sidebar-full & {
    left: 180px;
  }

}

.wula-dashboard-body {
  position: absolute;
  width: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //overflow: hidden;
  overflow-y: auto;
  //@include transition-transform(all 0.2s ease);


  .wula-dashboard-body-inner {
    height: 100%;
    padding: 0 15px;
  }

  @at-root .app-product-navbar-full & {
    left: 180px;
  }

  .loading {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
    width: 30px;
    height: 30px;
    .ivu-spin {
      background-color: transparent;
    }
  }
}

