.wula-topbar {
  position: fixed;
  width: 100%;
  height: 50px;
  background: $brand-primary;
  z-index: 101;
  display: block;
  clear: both;

  //导航icon
  .topbar-logo {
    float: left;
    background: darken($brand-primary, 5%);
    display: block;
    width: 50px;
    font-size: 28px;
    color: #FFF;
    text-align: center;
    line-height: 50px
  }

  //左侧按钮区
  .wula-topbar-group {
    background: $brand-primary-dark;
    float: left;
  }

  //导航按钮
  .wula-topbar-item{
    float: left;
    margin-left: 1px;
  }

}

//topbar button style

.wula-topbar-btn {
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
  line-height: 50px;
  border-radius: 0;
  height: 50px;
  display: block;
  z-index: 2;
  background: $brand-primary;
  &:hover {
    color: #fff;
    background: $brand-primary-dark;
  }
  .wula-badge {
    font-size: 12px;
    color: #fff;
    background: $brand-warning;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
    margin-top: 15px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
  }
  .wula-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }

}

//topbar dropwown style

.wula-topbar-dropdown {
  .icon-arrow-down {
    vertical-align: middle;
    transition: transform 0.2s, vertical-align 0.2s;
    -o-transition: transform 0.2s, vertical-align 0.2s;
    -ms-transition: transform 0.2s, vertical-align 0.2s;
    -moz-transition: transform 0.2s, vertical-align 0.2s;
    -webkit-transition: transform 0.2s, vertical-align 0.2s;
  }
  &.open .icon-arrow-down {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  &.open .wula-topbar-btn{
    color: #fff;
    background: $brand-primary-dark;
  }
  .wula-topbar-dropdown-menu {
    display: block;
    position: absolute;
    right: 0;
    float: left;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    min-width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 1;
    font-size: 12px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    li.gap {
      // border-bottom: 1px solid #eaedf1;
    }
    .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }

    li.disabled a {
      color: #999999
    }
    li.wula-dropdown-item-disabled a{
      color: #c3cbd6;
      cursor: not-allowed;
      background-color: transparent;
    }

    a {
      height: 40px;
      line-height: 40px;
      padding: 0 10px;
      display: block;
      clear: both;
      font-weight: normal;
      color: #333;
      white-space: nowrap;
      position: relative;
      &:hover, &:focus {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }
  }
}

.topbar-submenu-badge {
  font-size: 9px;
  color: #fff;
  background: #ffa200;
  border-radius: 5px;
  padding: 2px 5px;
  display: inline-block;
  margin-top: 9px;
  line-height: 16px;
  vertical-align: top;
  text-align: center;
  margin-right: 5px;
}