<div id="dialog-form">
	<Row>
		<i-col span="24">
			<wula-ajax-form  label-position="top" :form-data="users" url="/examples/json/dialog.json" method="get" @on-submit="submit">
				<form-item label="姓名" prop="name" :required="true" :rules="{required: true}">
					<i-input v-model="users.forms.name" placeholder="请输入姓名"></i-input>
				</form-item>
				<form-item label="邮箱" prop="mail">
					<i-input v-model="users.forms.mail" placeholder="请输入邮箱"></i-input>
				</form-item>
			</wula-ajax-form>
		</i-col>
	</Row>
</div>

<script>
	new Vue({
		el:'#dialog-form',
		data:{
			users:{
				forms:{name:'',mail:''}
			}
		},
		methods:{
			submit(data){
				var ind = $("#dialog-form").parents("#wula-dialog").data("index")
				console.log('submit',ind);
				this.$Dialog.remove(ind);
			}
		}
	})
</script>
